body {
  font-family: Monospace;
  background-color: #101010;
  color: #fff;
  margin: 0px;
  overflow: hidden;
}
a {
  color: #f00;
}

.label {
  position: absolute;
  left: 0;
  top: 15px;
  width: 100%;
  color: rgba(250, 250, 250, 0.5);
  text-align: center;
  z-index: 999;
}
